---
layout: default
title: Projects
sitemap: projects
---
{% if site.data.project_list %}
{% assign groups = site.data.project_list | sort: "short_title" %}
<h3>Projects - Table of Contents</h3> <a id="top"</a>

{% comment %} 
  Shift the in-page anchor links to the preceding item; otherwise the links are too high in the page. 
{% endcomment %}

{% assign prev_DataStoreID = "top" %}

{% for group in groups %}
  <dt>
    <dd> <a href="#{{ prev_DataStoreID }}">{{ group.short_title }}</a> </dd>
  </dt>
  {% assign prev_DataStoreID = group.DataStoreID %}
{% endfor %}
<hr>
{% for group in groups %}
  <dl>
    <th>
      <dt> 
        <h4><a id="{{ group.DataStoreID }}" href="{{ group.DataStoreID | downcase | prepend: '/projects/' | relative_url }}">
                    {{ group.short_title }}</a> 
        </h4> 
        <dd>
          <strong>Description:</strong> {{ group.description }} <br>
          SoyBase ID {{ group.SoyBaseID }}; Data Store ID {{ group.DataStoreID }} <br>
          <a href="{{ group.DataStoreID | downcase | prepend: '/projects/' | relative_url }}">
                    Project page: {{ group.short_title }}</a>
        </dd> 
      </dt>
    </th>
  </dl>
  <hr>
{% endfor %}
{% endif %}

