---
layout: default
title: Taxa
tools_menu: true
---
{% assign genera = site.data.taxon_list | group_by: "genus"  %}

<h1>Resources by Taxon</h1>

<h3>Major genera (containing significant crop and model species)</h3>
<dl>
  {% for genus in genera %}
  {% for item in genus.items %}
  {% if item.category == "main" %}
  <dt><a href="/taxa{{ item.genus | downcase | relative_url }}"><i>{{ item.genus }}</i></a></dt>
  <dd>{{ item.description }}</dd>
  {% endif %}
  {% endfor %}
  {% endfor %}
  <dd>Special-focus species and collections</a></dd>
</dl>

<h3>Special-focus genera and data sets</h3>
<dl>
  {% for genus in genera %}
  {% for item in genus.items %}
  {% if item.category == "special" %}
  <dt><a href="/taxa{{ item.genus | downcase | relative_url }}"><i>{{ item.genus }}</i></a></dt>
  <dd>{{ item.description }}</dd>
  {% endif %}
  {% endfor %}
  {% endfor %}
</dl>
