---
layout: default
title: Taxa
---
<h1>Taxa</h1>

<h3>Major genera (containing significant crop and model species)</h3>
{% if site.data.taxa_main %}
{% assign genera = site.data.taxa_main | group_by: "genus"  %}
<dt>
  {% for genus in genera %}
    {% for organism in genus.items %}
    <dd><a href="{{ organism.genus | downcase }}">{{ organism.genus }}</a> {{ organism.description }}</dd>
    {% endfor %}
  {% endfor %}
</dt>
{% endif %}

<h3>Special-focus genera and data sets</h3>
{% if site.data.taxa_special %}
{% assign genera = site.data.taxa_special | group_by: "genus"  %}
<dt>
  {% for genus in genera %}
    {% for organism in genus.items %}
    <dd><a href="#">{{ organism.genus }}</a> {{ organism.description }}</dd>
    {% endfor %}
  {% endfor %}
</dt>
{% endif %}


