---
layout: default
title: Collections
tools_menu: true
---
{% assign genera = site.data.taxon_list | group_by: "genus"  %}

<h1>LIS Datastore Collections</h1>

<p>
  All of the files housed by the Legume Information System are available at the <a target="_blank" href="{{ site.datastoreurl }}"><b>LIS Datastore</b></a>.
</p>

<p>
  The LIS Datastore is organized by Genus and species, with individual <i>data collections</i> under species directories for: genomes, annotations, expression,
  genetic data, markers, synteny, diversity, and others.
  Each collection contains a README file which describes that collection.
</p>

<dl>
  {% for genus in genera %}
  {% for item in genus.items %}
  {% if item.category == "main" %}
  <dt><a href="/collections{{ item.genus | downcase | relative_url }}"><i>{{ item.genus }}</i></a></dt>
  <dd>{{ item.description }}</dd>
  {% endif %}
  {% endfor %}
  {% endfor %}
</dl>
