[submodule "_data/datastore-metadata"]
	path = _data/datastore-metadata
	url = https://github.com/legumeinfo/datastore-metadata.git
[submodule "_themes/jekyll-theme-legumeinfo"]
	path = _themes/jekyll-theme-legumeinfo
	url = https://github.com/legumeinfo/jekyll-theme-legumeinfo.git
