# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

exclude_paths: ["news/index.html", "announcements/index.html"]

title: "LIS: Legume Information System"
subtitle: Information about legume traits for crop improvement
logo: /assets/img/logo.png
email: your-email@example.com
description: >- # this means to ignore newlines until "baseurl:"
  A collaborative, community resource to facilitate crop improvement by integrating
  genetic, genomic, and trait data across legume species.
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: legumeinfo
github_username: legumeinfo
newsletter: http://eepurl.com/cX_JjL

# Set the LIS Datastore base URL here
datastoreurl: https://legumeinfo.org/data/v2

# Build settings
#theme: jekyll-theme-legumeinfo
plugins:
  - jekyll-feed
  - jekyll-datapage-generator

#### jekyll-datapage-generator config
page_gen:
  - data: taxon_list
    template: taxon
    dir: taxa
    name: genus
    index_files: true
    debug: true
  - data: taxon_list
    template: collection
    dir: collections
    name: genus
    index_files: true
    debug: true


# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
exclude:
  - docker-compose.yml
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
#
