---
title: Home
layout: default
tools_menu: true
news_card: true
events_card: true
blog_card: true

---

<h1 style="margin: 0">SoyBase</h1>

<p class="uk-text-default">SoyBase integrates genetic and genomic information to aid
 soybean breeders and researchers. This instance of the site has been ported to a 
 different framework in order to accommodate the rapidly-growing genomic data available. 
 We anticipate that that this transition will continue through 2024. 
 In the meantime, you can also continue to use <a href="https://legacy.soybase.org/" target="_blank">"legacy SoyBase"</a>.
</p>

<div >
<div class="search-container">

  <div class="uk-text-nowrap uk-margin-remove-bottom uk-margin-small-top uk-align-center">
    <form action="https://mines.legumeinfo.org/glycinemine/keywordSearchResults.do" name="search" method="get" style="display:inline;" target="_blank">
      <div class="uk-text-left">
        <label class="uk-text-bold" for="quickSearchInput">Keyword Search</label><br>
      <input class="uk-input uk-form-small" style="width:180px;color:#235626;font-style:italic;font-size:0.9em" type="text" id="quickSearchInput" name="searchTerm"
      value="&quot;seed weight&quot;" onFocus="clearElement(this);" />
      <button type="submit" id="quickSearchButton" name="searchSubmit" class="uk-button uk-button-primary uk-button-small uk-margin-small">GO</button>
    </div>
    </form>
  </div>

  <div class="uk-text-nowrap uk-margin-remove-bottom uk-margin-small-top uk-align-center">
    <form action="/tools/search/gene.html" name="search" method="get" style="display:inline;">
  <div class="uk-text-left">
    <label class="uk-text-bold" for="identifier">Gene identifier search</label><br>
    <input class="uk-input uk-form-small" id="identifier" style="width:180px;color:#235626;font-style:italic;font-size:0.9em" type="text" name="identifier"
    value="Glyma.15g026400" onFocus="clearElement(this);" />
    <button type="submit" id="quickSearchButton" name="searchSubmit" class="uk-button uk-button-primary uk-button-small uk-margin-small">GO</button>
  </div>
    </form>
  </div>
 
  <div class="uk-text-nowrap uk-margin-remove-bottom uk-margin-small-top uk-align-center">
    <form action="https://gcv.soybase.org/search" name="search" method="get" style="display:inline;">
      <div class="uk-text-left">
        <label class="uk-text-bold" for="q">Synteny viewer</label><br>
        <input type="hidden" id="sources" name="sources" value="soybase,liu2020">
        <input class="uk-input uk-form-small" id="q" style="width:180px;color:#235626;font-style:italic;font-size:0.9em" type="text" name="q"
        value="Glyma.20G010000" onFocus="clearElement(this);" />
        <button type="submit" id="quickSearchButton" name="searchSubmit" class="uk-button uk-button-primary uk-button-small uk-margin-small">GO</button>
      </div>
    </form>
  </div>

</div>

<hr>

<div>
    <div class="uk-child-width-1-2@s uk-child-width-1-2@l uk-child-width-1-3@xl uk-flex-center uk-grid-column-small uk-grid-row-small" uk-grid>
      <div class="uk-flex uk-flex-center uk-flex-middle" title="Enter one or more sequences and search against soybean genomes, proteins, or transcript sequences.">
        <button class="uk-button uk-width-1-1 uk-button-small uk-text-capitalize uk-text-nowrap cornsilk col3-cornsilk" type="button" >
          <a href="/tools/sequenceserver/"><b>Sequence search (BLAST)</b></a>
        </button>
      </div>
      <div class="uk-flex uk-flex-center uk-flex-middle" title="Enter one or more sequences and annotate them, view in a phylogenetic tree, etc.">
        <button class="uk-button uk-width-1-1 uk-button-small uk-text-capitalize uk-text-nowrap cornsilk col3-cornsilk" type="button" >
          <a href="https://funnotate.legumeinfo.org/" target="_blank"><b>Annotate sequences</b></a>
        </button>
      </div>
      <div class="uk-flex uk-flex-center uk-flex-middle" title="Glycine pangenes, or look up corresponding gene IDs between annotations.">
        <button class="uk-button uk-width-1-1 uk-button-small uk-text-capitalize uk-text-nowrap seashell col3-cornsilk" type="button" >
          <a href="/tools/translate/"><b>Pangenes / gene translator</b></a>
        </button>
      </div>
      <div class="uk-flex uk-flex-center uk-flex-middle" title="InterMine for soybean and wild relatives in Glycine.">
        <button class="uk-button uk-width-1-1 uk-button-small uk-text-capitalize uk-text-nowrap seashell col3-seashell" type="button">
          <a href="https://mines.legumeinfo.org/glycinemine/begin.do" target="_blank"><b>GlycineMine</b></a>
        </button>
      </div>
      <div class="uk-flex uk-flex-center uk-flex-middle" title="Search for studies by trait term, author, etc.">
        <button class="uk-button uk-width-1-1 uk-button-small uk-text-capitalize uk-text-nowrap azure col3-seashell" type="button" >
          <a href="/tools/search/trait.html"><b>Trait association search</b></a>
        </button>
      </div>
      <div class="uk-flex uk-flex-center uk-flex-middle" title="Enter a list of genes (Wm82 a2) and test for enrichment of gene ontology terms -- or annotate your list.">
        <button class="uk-button uk-width-1-1 uk-button-small uk-text-capitalize uk-text-nowrap azure col3-seashell" type="button">
          <a href="/tools/analysis/go.html"><b>GO enrichment</b></a>
        </button>
      </div>
      <div class="uk-flex uk-flex-center uk-flex-middle" title="Visualize trait features (QTL and GWAS) using the CMap-js tool.">
        <button class="uk-button uk-width-1-1 uk-button-small uk-text-capitalize uk-text-nowrap mistyrose col3-azure" type="button">
          <a href="/maps"><b>Genetic & trait maps</b></a>
        </button>
      </div>
      <div class="uk-flex uk-flex-center uk-flex-middle" title="Genome browsers (JBrowse and GBrowse) for visualizing genes and other features on chromosomes.">
        <button class="uk-button uk-width-1-1 uk-button-small uk-text-capitalize uk-text-nowrap mistyrose col3-azure" type="button">
          <a href="/tools/browsers"><b>Genome browsers</b></a>
        </button>
      </div>
      <div class="uk-flex uk-flex-center uk-flex-middle" title="GCViT tool for visualizing variants (SNPs) between selected genotypes.">
        <button class="uk-button uk-width-1-1 uk-button-small uk-text-capitalize uk-text-nowrap antiquewhite col3-azure" type="button">
          <a href="/tools/gcvit/"><b>Genotype comparisons</b></a>
        </button>
      </div>
      <div class="uk-flex uk-flex-center uk-flex-middle" title="Soybean GWAS features from many studies, against a common framework (ZZbrowse tools).">
        <button class="uk-button uk-width-1-1 uk-button-small uk-text-capitalize uk-text-nowrap antiquewhite col3-mistyrose" type="button">
          <a href="https://zzbrowse.legumeinfo.org/?tab=WhGen&twoSpecies=n&datasets=Soybean%20GWAS&chr=Gm01&selected=100000&window=250000&traitsFromOntology=y" target="_blank"><b>GWAS viewer</b></a>
        </button>
      </div>
      <div class="uk-flex uk-flex-center uk-flex-middle" title="Soybean QTL features from many studies, against a common framework (ZZbrowse tools).">
        <button class="uk-button uk-width-1-1 uk-button-small uk-text-capitalize uk-text-nowrap cornsilk col3-mistyrose" type="button">
          <a href="https://zzbrowse.legumeinfo.org/?tab=WhGen&twoSpecies=n&datasets=Soybean%20QTL&chr=Gm01&selected=100000&window=250000&traitsFromOntology=y" target="_blank"><b>QTL viewer</b></a>
        </button>
      </div>
      <div class="uk-flex uk-flex-center uk-flex-middle" title="QTL and/or GWAS features from many studies; compare between soybean and another selected species (slow; please be patient).">
        <button class="uk-button uk-width-1-1 uk-button-small uk-text-capitalize uk-text-nowrap cornsilk col3-mistyrose" type="button">
          <a href="https://zzbrowse.legumeinfo.org/?tab=WhGen&twoSpecies=y&datasets=Soybean%20GWAS&chr=Gm01&selected=100000&window=250000&traitsFromOntology=y" target="_blank"><b>cross-species QTL/GWAS</b></a>
        </button>
      </div>
      <div class="uk-flex uk-flex-center uk-flex-middle" title="View geographic origins of Glycine accessions in the USDA GRIN-Global system.">
        <button class="uk-button uk-width-1-1 uk-button-small uk-text-capitalize uk-text-nowrap seashell col3-antiquewhite" type="button">
          <a href="https://germplasm-map.legumeinfo.org/#?zoom=4&maxRecs=2000&taxonQuery=Glycine&traitOverlay=&traitScale=global&country=&geocodedOnly&traitExcludeUnchar=false&limitToMapExtent=false&lat=-15.03&lng=154.16&mapHeight=341.5&baseMap=ESRI%20-%20NatGeo%20(default,%20reference%20map)&ne_lat=-0.17578097424708533&ne_lng=210.05859375000003&sw_lat=-28.921631282421302&sw_lng=98.26171875000001&accessionIdsInclusive=false" target="_blank"><b>Germplasm GIS</b></a>
        </button>
      </div>
      <div class="uk-flex uk-flex-center uk-flex-middle" title="Search and view soybean genes in their metabolic pathways.">
        <button class="uk-button uk-width-1-1 uk-button-small uk-text-capitalize uk-text-nowrap seashell col3-antiquewhite" type="button">
          <a href="/tools/soycyc"><b>Metabolic pathways</b></a>
        </button>
      </div>
      <div class="uk-flex uk-flex-center uk-flex-middle" title="View soybean varieties and accessions and their pedigrees.">
        <button class="uk-button uk-width-1-1 uk-button-small uk-text-capitalize uk-text-nowrap azure col3-antiquewhite" type="button">
          <a href="/tools/parentage/"><b>Parentage & pedigrees</b></a>
        </button>
      </div>
      <div class="uk-flex uk-flex-center uk-flex-middle" title="View soybean varieties and accessions and their pedigrees.">
        <button class="uk-button uk-width-1-1 uk-button-small uk-text-capitalize uk-text-nowrap azure col3-cumstomgreen" type="button">
          <a href="https://www.legumeinfo.org" target="_blank"><b>Other legumes</b></a>
        </button>
      </div>
      <div class="uk-flex uk-flex-center uk-flex-middle" title="View soybean varieties and accessions and their pedigrees.">
        <button class="uk-button uk-width-1-1 uk-button-small uk-text-capitalize uk-text-nowrap customgreen col3-cumstomgreen" type="button">
          <a href="/tools/expression"><b>Expression resources</b></a>
        </button>
      </div>
      <div class="uk-flex uk-flex-center uk-flex-middle" title="View soybean varieties and accessions and their pedigrees.">
        <button class="uk-button uk-width-1-1 uk-button-small uk-text-capitalize uk-text-nowrap customgreen col3-cumstomgreen" type="button">
          <a href="/help/"><b>Help & Tutorials</b></a>
        </button>
      </div>
    </div>
</div>
<br>
<div class="uk-hidden@l">
  {% if page.blog_card %}
    {% include blog-card.html %}
  {% endif %}

  {% if page.news_card %}
    {% include news-card.html %}
  {% endif %}

  <div class="uk-card uk-card-small uk-card-default uk-margin-bottom">
    <div class="uk-card-header">
      <div class="uk-grid-small uk-flex-middle" uk-grid>
        <div class="uk-width-expand">
          <h3 class="uk-card-title uk-margin-remove-bottom">EVENTS</h3>
        </div>
      </div>
    </div>
    <div id="custom-event-card" class="uk-card-body"></div>
    <div class="uk-card-footer">
      <a href="/events" class="uk-button uk-button-text">More Events</a>
    </div>
  </div>
  
</div>
</div>

  <h2 style="text-align: left;">Funding and Development</h2>
<p style="text-align: left;">SoyBase is funded by the USDA-ARS. SoyBase is developed and hosted by the USDA-ARS SoyBase and Legume Clade Database group at Ames, IA, with development assistance from the National Center for Genome Resources (NCGR) with the help of many other researchers in the soybean community.</p>
<div class="uk-child-width-expand@s uk-flex uk-flex-middle uk-text-center" uk-grid>
  <a href="https://www.ars.usda.gov/main/main.htm" target="_blank" title="USDA ARS website">
    <img src="{{ "assets/img/usda.svg" | relative_url }}" width="150" height="auto" alt="USDA logo"/>
  </a>
  <a href="https://www.ncgr.org/" target="_blank" title="NCGR website">
    <img src="{{ "assets/img/ncgr.png" | relative_url }}" width="200" height="auto" alt="NCGR logo"/>
  </a>
</div>

<script>
    async function clearElement(e) {
    var value = await document.getElementById('quickSearchInput').value;
  }
  
</script>


<script type="module">
  

  /* render upcoming events to #custom-event-card when screen is smaller than 1200px */
  import { upcomingEvents } from "lis-events";
      function displayUpcomingEvents(){
      document.getElementById('custom-event-card').innerHTML += upcomingEvents.map(event => 
      `
      <li style="margin-left: 10px"><a class="uk-text-bold" href=${event.url}>${event.title}</a><div style="margin-left: 20px; color: black">${event.date} - ${event.endDate}</div></li>
      `).join('');
      }
      displayUpcomingEvents()

</script>
