---
title: Soybean Crop Germplasm Committee
layout: default
sitemap: community/soygermplasm
Team:
  - name: Ben Fallen
    email: ben.fallen@usda.gov
    organization: USDA-ARS
    role: <strong>Chair</strong>, Public Breeder, South
    term: 2023-2028
  - name: Pedro Gonzalez-Portilla
    email: pgonzalez@bensonhill.com
    organization: Benson Hill
    role: <strong>Vice-Chair</strong>, Private Breeder, North
    term: 2023-2028
  - name: Milad Eskandari
    email: meskanda@uoguelph.ca
    organization: University of Guelph
    role: Canadian Breeder
    term: 2021-2024
  - name: Jon Allen
    email: jon.allen@corteva.com
    organization: Corteva
    role: Plant Pathologist
    term: 2023-2026
  - name: Ian McNish
    email: Iam.McNish@syngenta.com
    organization: Syngenta
    role: Plant Pathologist
    term: 2023-2026
  - name: Alvaro Sanz-Saez
    email: azs0223@auburn.edu
    organization: Auburn University
    role: Physiologist
    term: 2023-2026
  - name: Jason Gillman
    email: jason.gillman.@usda.gov
    organization: USDA-ARS
    role: Physiologist, molecular geneticist, biochemist, genomicist, cytogeneticist
    term: 2023-2026
  - name: Guo-liang Jiang
    email: gjiang@vsu.edu
    organization: Virginia State University
    role: Geneticist
    term: 2023-2026
  - name: Aaron Lorenz
    email: lore0149@umn.edu
    organization: University of Minnesota
    role: Public Breeder, North
    term: 2023-2026
  - name: Innan Cervantes-Martinez
    email: innan.cervantes-martinez@basf.com
    organization: BASF
    role: Public Breeder, South
    term: 2023-2026
  - name: Roy Scott
    email: roy.scott@usda.gov
    organization: USDA-ARS
    role: Ex-Officio, NPL-Oilseed/Bioscience
    term: Permanent
  - name: Adam Mahan
    email: Adam.Mahan@usda.gov
    organization: USDA-ARS
    role: Ex-Officio, Soybean Curator
    term: Permanent
  - name: Benjamin Barlett
    email: Benjamin.Barlett@usda.gov
    organization: USDA-ARS
    role: Ex-Officio and Secretary, Assistant Soybean Curator
    term: Permanent
  - name: Rusty Smith
    email: Rusty.Smith@usda.gov
    organization: USDA-ARS
    role: Ex-Officio, Assistant Soybean Curator
    term: Permanent
  - name: Lisa Weaver
    email: LWeaver@smithbucklin.com
    organization: United Soybean Board
    role: Ex-Officio, United Soybean Board
    term: Permanent
Minutes:
  - name: September 2020
    website: https://www.ars-grin.gov/npgs/cgc_reports/2020(2)%20-%20Soybean%20CGC%20Minutes.pdf
  - name: March 2020
    website: https://www.ars-grin.gov/npgs/cgc_reports/2020(1)%20-%20Soybean%20CGC%20Minutes.pdf
  - name: February 2019
    website: https://www.ars-grin.gov/npgs/cgc_reports/2019%20-%20Soybean%20CGC%20Minutes.pdf
  - name: February 2018
    website: https://www.ars-grin.gov/npgs/cgc_reports/2018_soybean_CGC_minutes.pdf
  - name: February 2017
    website: https://www.ars-grin.gov/npgs/cgc_reports/soybeanminutes2017.pdf
  - name: February 2016
    website: https://www.ars-grin.gov/npgs/cgc_reports/soybeanminutes2016.pdf
  - name: February 2015
    website: https://www.ars-grin.gov/npgs/cgc_reports/soybeanminutes2015.pdf
  # - name: All Soybean Crop Germplasm Committee Meeting Minutes
  #   website: https://www.ars-grin.gov/CGC
Report:
  - name: 2020
    website: https://www.ars-grin.gov/npgs/cgc_reports/2021%20-%20Soybean%20Curator%20Report.pdf
  - name: 2019
    website: https://www.ars-grin.gov/npgs/cgc_reports/2020%20-%20Soybean%20Curator%20Report.pdf
  - name: 2018
    website: https://www.ars-grin.gov/npgs/cgc_reports/2019%20-%20Soybean%20Curator%20Report.pdf
  - name: 2016
    website: https://www.ars-grin.gov/npgs/cgc_reports/soybeanstatus2017.pdf
  - name: 2015
    website: https://www.ars-grin.gov/npgs/cgc_reports/soybeanstatus2016.pdf
  # - name: All USDA Soybean Germplasm Collection Reports
  #   website: https://www.ars-grin.gov/CGC

---

<h2>Soybean Crop Germplasm Committee</h2>

<p>The Crop Germplasm Committee (CGC) is a generic name for a specific national working group of specialists providing analysis, data, and advice about germplasm within a specific crop or group of related crops of present or future economic importance. In accordance with this convention, this committee will be named the Soybean Crop Germplasm Committee.</p>

<p>The function of the Soybean Crop Germplasm Committee is to serve soybean commodity groups and provide expert advice to individuals or organizations such as the Agricultural Research Service (ARS), State Agricultural Experiment Stations (SAES), and others on technical matters relating to plant germplasm, its collection, preservation, and effective utilization. Duties and Responsibilities are as follow:.</p>
<ol style="font-size:16px">
<li>Develop a strategic overview of the total national scientific effort in the study and utilization of soybean germplasm and recommend cooperative approaches for improvements in the germplasm management system where needs are apparent.
</li><li>Assess the adequacy of the USDA Soybean Germplasm Collection and make recommendations to appropriate governmental and private agencies for increasing the Collection via additional exploration, exchange, or acquisition.
</li><li>Assess progress in soybean breeding and the role germplasm resources might play in improving traits of economic importance.
</li><li>Suggest guidelines for the effective regeneration, distribution, evaluation and utilization of accessions in the USDA Soybean Germplasm Collection.
</li><li>Provide a means for soybean scientists or commodity groups to voice opinions on needs for plant germplasm resources and their utilization to those individuals responsible for these areas at the national level.
</li><li>Develop concise reports when requested on ongoing germplasm activities, resource needs, and action plans. 
</li></ol>
<hr>
<h2>Current Soybean Crop Germplasm Committee members are</h2>
<table>
  <tr>
    <th>Member</th>
    <th>Organization</th>
    <th>Committee Role</th>
    <th>Term</th>
  </tr>
  {% for member in page.Team %}
  <tr>
    <td><a href="mailto:{{ member.email }}">{{ member.name }}</a></td>
    <td>{{ member.organization }}</td>
    <td>{{ member.role }}</td>
    <td>{{ member.term }}</td>
  </tr>
  {% endfor %}
</table>

<hr>
<h4>
  <a href="https://www.ars-grin.gov/CGC">
    <strong>Committee Meeting Minutes and Reports</u></strong>
  </a>
</h4>
<details>
<h3>Soybean Crop Germplasm Committee Meeting Minutes:</h3>
  <ul>
  {% for meeting in page.Minutes %}
    <li><a href="{{ meeting.website }}">{{ meeting.name }}</a></li>
  {% endfor %}
</ul>

<h3>USDA Soybean Germplasm Collection Reports</h3>
<ul>
  {% for report in page.Report %}
    <li><a href="{{ report.website }}">{{ report.name }}</a></li>
  {% endfor %}
</ul>
</details>

<h2></h2>





