---
title: Soybean Crop Germplasm Committee
layout: default
sitemap: community/soygermplasm
---

<h2>Soybean Crop Germplasm Committee</h2>

<p>The Crop Germplasm Committee (CGC) is a generic name for a specific national working group of specialists providing analysis, data, and advice about germplasm within a specific crop or group of related crops of present or future economic importance. In accordance with this convention, this committee will be named the Soybean Crop Germplasm Committee.</p>

<p>The function of the Soybean Crop Germplasm Committee is to serve soybean commodity groups and provide expert advice to individuals or organizations such as the Agricultural Research Service (ARS), State Agricultural Experiment Stations (SAES), and others on technical matters relating to plant germplasm, its collection, preservation, and effective utilization. Duties and Responsibilities are as follow:.</p>
<ul class="uk-list uk-list-decimal">
  <li>Develop a strategic overview of the total national scientific effort in the study and utilization of soybean germplasm and recommend cooperative approaches for improvements in the germplasm management system where needs are apparent.</li>
  <li>Assess the adequacy of the USDA Soybean Germplasm Collection and make recommendations to appropriate governmental and private agencies for increasing the Collection via additional exploration, exchange, or acquisition.</li>
  <li>Assess progress in soybean breeding and the role germplasm resources might play in improving traits of economic importance.</li>
  <li>Suggest guidelines for the effective regeneration, distribution, evaluation and utilization of accessions in the USDA Soybean Germplasm Collection.</li>
  <li>Provide a means for soybean scientists or commodity groups to voice opinions on needs for plant germplasm resources and their utilization to those individuals responsible for these areas at the national level.</li>
  <li>Develop concise reports when requested on ongoing germplasm activities, resource needs, and action plans.</li>
</ul>
<hr>
<h2>Current Soybean Crop Germplasm Committee members are</h2>
<table class="uk-table uk-table-small uk-table-hover uk-table-responsive uk-table-divider">
	<thead>
        <tr>
            <th class="uk-table-expand">Member</th>
            <th class="uk-table-expand">Organization</th>
            <th class="uk-table-expand">Committee Role</th>
            <th class="uk-table-expand">Term</th>
        </tr>
    </thead>
    <body>

  {% for member in site.data.germplasm_team.Team %}
  <tr>
    <td><a href="mailto:{{ member.email }}">{{ member.name }}</a></td>
    <td>{{ member.organization }}</td>
    <td>{{ member.role }}</td>
    <td>{{ member.term }}</td>
  </tr>
  {% endfor %}
</body>
</table>

<hr>
<h4>
  <a href="https://www.ars-grin.gov/CGC">
    <strong>Committee Meeting Minutes and Reports</u></strong>
  </a>
</h4>

<ul uk-accordion>
  <li>
      <a class="uk-accordion-title" href>Details</a>
      <div class="uk-accordion-content">
        <h3>Soybean Crop Germplasm Committee Meeting Minutes:</h3>
        <ul>
        {% for meeting in site.data.germplasm_report.Minutes %}
          <li><a href="{{ meeting.website }}">{{ meeting.name }}</a></li>
        {% endfor %}
      </ul>
      
      <h3>USDA Soybean Germplasm Collection Reports</h3>
      <ul>
        {% for report in site.data.germplasm_report.Report %}
          <li><a href="{{ report.website }}">{{ report.name }}</a></li>
        {% endfor %}
      </ul>
      </div>
  </li>
</ul>




