<div class="uk-card uk-card-small uk-card-default uk-margin-top">
  <div class="uk-card-header">
    <div class="uk-grid-small uk-flex-middle" uk-grid>
      <div class="uk-width-expand">
        <h3 class="uk-card-title uk-margin-remove-bottom">EVENTS</h3>
      </div>
    </div>
  </div>
  <div class="uk-card-body">
    <ul id="upcoming-events" class="uk-list uk-list-disc"></ul>
  </div>
  <div class="uk-card-footer">
    <a href="{{ "/events" | relative_url }}" class="uk-button uk-button-text">More Events</a>
  </div>
</div>

{% comment %}
Populate the widget using JavaScript so the site doesn't have to be rebuilt when the event is over
{% endcomment %}
<script type="text/javascript">
  /* all events */
  const events = [
    {% for post in site.categories.events reversed %}
      {
        url: "{{ post.url }}",
        title: "{{ post.title }}",
        date: "{{ post.date | date_to_string }}",
        unixDate: {{ post.date | date: '%s' }},
        {% if post.end_date %}
        endDate: "{{ post.end_date | date_to_string }}",
        unixEndDate: {{ post.end_date | date: '%s' }},
        {% else %}
        endDate: null,
        unixEndDate: null,
        {% endif %}
      },
    {% endfor %}
    ];
  /* only keep soonest eventsLimit events that are currently happening or upcoming */
  const eventsLimit = {% if site.events_card_item_limit %}
    {{ site.events_card_item_limit }}
  {% else %}
    {{ site.card_item_limit }}
  {% endif %};
  const currentUnixDate = Math.floor(Date.now() / 1000);
  const upcomingEvents = events
    .filter((event) => event.unixDate >= currentUnixDate || event.unixEndDate >= currentUnixDate)
    .slice(0, eventsLimit);
  /* generate HTML for each event */
  const listItems = upcomingEvents
    .map((event) => {
      const titleLink = `<a href="${ event.url }"><b>${ event.title }</b></a>`;
      let dates = event.date;
      if (event.endDate) {
        dates += ` - ${ event.endDate }`;
      }
      return `<li>${ titleLink } ${ dates }</li>`;
    });
  /* add the upcoming events to the upcoming events element */
  const eventList = document.getElementById("upcoming-events");
  eventList.innerHTML = listItems.join("");
</script>
