{% capture content %}
  <div id="events-card" class="uk-card-body"></div>
{% endcapture %}

{% capture footer %}
    <a href="{{ "/events" | relative_url }}" class="uk-button uk-button-text">More Events</a>
{% endcapture %}

{% include card.html title='EVENTS' content=content footer=footer %}

{% comment %}
Populate the widget using JavaScript so the site doesn't have to be rebuilt when the event is over
{% endcomment %}
<script type="module">

  import { upcomingEvents } from "lis-events";

  const eventsLimit = {% if site.events_card_item_limit %}
    {{ site.events_card_item_limit }}
  {% else %}
    {{ site.card_item_limit }}
  {% endif %};

  const cardUpcomingEvents = upcomingEvents.slice(0, eventsLimit);

  /* generate HTML for each event */

  /* add the upcoming events to the upcoming events element */
  const cardEventList = document.getElementById("events-card");
  let innerHTML = "<p>There are no current or upcoming events.</p>";
  if (upcomingEvents.length > 0) {
    const cardListItems = upcomingEvents
      .map((event) => {
        let dates = event.date;
        if (event.endDate) {
          dates += ` - ${ event.endDate }`;
        }
        return `{% include card-item.html url='${ event.url }' title='${ event.title }<br>' meta='${ dates }'  %}`;
      });
    innerHTML = `
      <ul id="card-upcoming-events" class="uk-list uk-list-disc">
        ${ cardListItems.join("") }
      </ul>
    `;
  }
  cardEventList.innerHTML = innerHTML;
</script>
