<!-- place globally-included stylesheet content here -->
<style>
  .species-image {
      float: right;
      margin: 10px;
  }
  .species-image img {
      border: 1px solid darkgreen;
  }
  .species-image .attribution {
      text-align: center; 
      font-style: italic;
      font-size: 80%;
  }
  .blog-image {
      float: right;
      margin: 10px;
  }
  .blog-image img {
      border: 1px solid gray;
  }
  .blog-image .attribution {
      text-align: center; 
      font-style: italic;
      font-size: 80%;
  }
  .temp {
      color: darkred;
      font-family: serif;
      font-weight: bold;
  }

  .toggle-top-margin{
    margin-top: 4px;
  }

  .glass-morphism{
    backdrop-filter: blur(4px) saturate(200%);
    -webkit-backdrop-filter: blur(16px) saturate(200%);
    background-color: rgba(225, 225, 225, 0.65);
    border-radius: 5px;
    border: 1px solid rgba(209, 213, 219, 0.1);
  }

  .nav-item {
    text-wrap: nowrap;
  }

  .nav-item:hover {
    color: #235626;
  }

  .nav-title:hover {
    margin-bottom: -1px;
    border-bottom: 1px solid white;
  }

  .custom-width {
    width: 170px;
  }

  .text-size-med{
    font-size: 18px;
  }
  .text-size-large{
    font-size: 20px;
  }

  .toggle-top-margin{
    margin-top: 4px;
  }
  
  body {
    color: black;
    background-color: white;
  }

/* Homepage custom styling */
.search-container {
  display: flex; 
  justify-content: space-between;
}

@media (max-width: 764px){
  .search-container{
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 598px){
  .bar-input-group{
    display: block;
    text-align: center;
  }
}

@media (min-width: 1600px){
  .col3-cornsilk{
    background-color: cornsilk;
  }
  .col3-seashell{
    background-color: seashell;
  }
  .col3-azure{
    background-color: azure;
  }
  .col3-mistyrose{
    background-color: mistyrose;
  }
  .col3-antiquewhite{
    background-color: antiquewhite;
  }
  .col3-cumstomgreen{
    background-color: #EAFAF1;
  }
}
 
  @media (max-width: 1599px){
  .cornsilk{
    background-color: cornsilk;
  }
  .seashell{
    background-color: seashell;
  }
  .azure{
    background-color: azure;
  }
  .mistyrose{
    background-color: mistyrose;
  }
  .antiquewhite{
    background-color: antiquewhite;
  }
  .customgreen {
    background-color: #EAFAF1;
  }
  }

</style>

