<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title | strip_html }} &#8211; {% endif %}{{ site.title | strip_html }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% if page.meta_description %}{{ page.meta_description | xml_escape }}{% elsif page.summary %}{{ page.summary | xml_escape }}{% else %}{{ site.description | xml_escape }}{% endif %}">
  <link rel="manifest" type="application/manifest+json; charset=utf-8" href="{{ "/manifest.json" | relative_url }}" />
  {% if page.meta_robots %}<meta name="robots" content="{{ page.meta_robots }}">
  {% else %}<meta name="robots" content="all">{% endif %}
  <meta name="author" content="{{ site.author }}">
  {% if site.fb_page %}<meta property="fb:pages" content="{{ site.fb_page_id }}" />{% endif %}
  {% if page.categories %}<meta name="keywords" content="{{ page.categories | join: ', ' }}">{% endif %}
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.title }}" href="{{ "/feed.xml" | relative_url }}" />

  <!-- Custom CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.11.1/dist/css/uikit.min.css" type="text/css" />
  <link rel="stylesheet" href="{{ "assets/css/theme.css" | relative_url }}" type="text/css" />

  <!-- TODO: these theme overrides should be added at compile time, i.e. we shouldn't be overriding our own theme! -->
  <style type="text/css">
    .tm-lower-navbar .uk-navbar-nav > li > a, .tm-lower-navbar .uk-navbar-item, .tm-lower-navbar .uk-navbar-toggle {
      min-height: 40px;
      height: 40px;
    }
    .tm-lower-navbar .uk-navbar-nav > li > a::before {
      bottom: 10px;
    }
  </style>
  
  {% include global-stylesheets.html %}

  <!-- Custom JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit-icons.min.js"></script>

  {% include global-scripts.html %}

  <!-- Icons -->
  <link rel="icon" type="image/png" href="{{ "/assets/icons/favicon-192x192.png" | relative_url }}" sizes="192x192">
  <link rel="icon" type="image/png" href="{{ "/assets/icons/favicon-16x16.png" | relative_url }}" sizes="16x16">
  <link rel="shortcut icon" href="{{ "/assets/icons/favicon.ico" | relative_url }}">
</head>
