<ul class="uk-navbar-nav uk-visible@l">
  <li><a href="{{ "/" | relative_url }}">Home</a></li>
  <li>
    <a href="{{ "/taxa" | relative_url }}">Taxa</a>
    {% if site.data.taxon_list %}
    {% assign genera = site.data.taxon_list | group_by: "genus"  %}
    <div class="uk-navbar-dropdown uk-width-auto" uk-dropdown="delay-hide: 0;">
      <ul class="uk-nav uk-navbar-dropdown-nav uk-link-reset">
      {% for genus in genera %}
        {% for organism in genus.items %}
          {% if organism.category == "main" %}
            <li> <a href="/taxa/{{ organism.genus | downcase | relative_url }}"> {{ organism.genus }} {{ organism.description }}</a></li>
          {% endif %}
        {% endfor %}
      {% endfor %}
      <li><a href="{{ "/taxa" | relative_url }}">OTHERS (Many special-focus species and collections)</a></li>
      </ul>
    </div>
    {% endif %}
  </li>
  <li>
    <a href="{{ "/tools" | relative_url }}">Tools</a>
    {% if site.data.tools %}
    {% assign groups = site.data.tools | group_by: "category" | sort: "name" %}
    <div class="uk-navbar-dropdown uk-width-auto" uk-dropdown="delay-hide: 0;">
      <ul class="uk-nav uk-navbar-dropdown-nav uk-link-reset">
      {% for group in groups %}
        {% for item in group.items %}
          <li><a href="{{ item.url }}">{{ item.name }}</a></li>
        {% endfor %}
      {% endfor %}
      </ul>
    </div>
    {% endif %}
  </li>
  <li><a href="{{ "/download" | relative_url }}">Download</a></li>
  <li><a href="{{ "/community" | relative_url }}">Community</a></li>
  <li><a href="{{ "/contact" | relative_url }}">Contact</a></li>
  <li><a href="{{ "/help" | relative_url }}">Help</a></li>
</ul>

<a href="#off-screen-menu" class="uk-navbar-toggle uk-hidden@s" uk-navbar-toggle-icon uk-toggle></a>
