<li><a href="{{ "/" | relative_url }}">Home</a></li>
<li>
  <a class="taxa" href="{{ "/taxa" | relative_url }}">Taxa</a>
  {% if site.data.taxa %}
  {% assign genera = site.data.taxa | group_by: "genus"  %}
  <div class="uk-navbar-dropdown uk-width-auto" uk-dropdown="toggle: .taxa; delay-hide: 0;">
    <ul class="uk-nav uk-navbar-dropdown-nav uk-link-reset">
    {% for genus in genera %}
      {% assign taxa = genus.items  %}
      {% for organism in taxa %}
      <li><a href="#">{{ organism.genus }} {{ organism.description }}</a></li>
      {% endfor %}
    {% endfor %}
    </ul>
  </div>
  {% endif %}
</li>
<li><a href="{{ "/tools" | relative_url }}">Tools</a></li>
<li><a href="{{ "/download" | relative_url }}">Download</a></li>
<li><a href="{{ "/community" | relative_url }}">Community</a></li>
<li><a href="{{ "/contact" | relative_url }}">Contact</a></li>
<li><a href="{{ "/help" | relative_url }}">Help</a></li>

<!--
<li><a href="{{ "/tools" | relative_url }}">Tools</a></li>
-->
