<ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
  <li><a href="{{ "/" | relative_url }}">Home</a></li>
  {% if site.data.taxon_list %}
  <li class="uk-parent">
    <a href="#">Genomics</a>
    {% assign genera = site.data.taxon_list | group_by: "genus"  %}
    <ul class="uk-nav-sub">
      {% for genus in genera %}
        {% for organism in genus.items %}
          {% if organism.category == "main" %}
            <li><a href="/genomics/{{ organism.genus | downcase | relative_url }}"> {{ organism.genus }} {{ organism.description }}</a></li>
          {% endif %}
        {% endfor %}
      {% endfor %}
      <li class="uk-nav-divider"></li>
      {% for genus in genera %}
        {% for item in genus.items %}
          {% if item.category == "special" %}
            <li><a href="/genomics{{ item.genus | downcase | relative_url }}"> {{ item.genus }} ({{ item.description }})</a></li>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </ul>
  </li>
  {% else %}
  <li><a href="{{ "/genomics" | relative_url }}">Genomics</a></li>
  {% endif %}
  {% if site.data.tools %}
  <li class="uk-parent">
    <a href="{{ "/tools" | relative_url }}">Tools</a>
    {% assign groups = site.data.tools | group_by: "category" | sort: "name" %}
    <ul class="uk-nav-sub">
      {% for group in groups %}
        {% for item in group.items %}
          <li><a href="{{ item.url }}">{{ item.name }}</a></li>
        {% endfor %}
      {% endfor %}
    </ul>
  </li>
  {% else %}
  <li><a href="{{ "/tools" | relative_url }}">Tools</a></li>
  {% endif %}
  <li><a href="{{ "/download" | relative_url }}">Download</a></li>
  <li><a href="{{ "/community" | relative_url }}">Community</a></li>
  <li><a href="{{ "/contact" | relative_url }}">Contact</a></li>
</ul>
