$global-color: #000;
$global-muted-color: #666;
$button-default-background: #235626;
$button-default-color: #fff;
$button-default-hover-background: #000;
$button-default-hover-color: #fff;
$global-font-size: 16px;
