---
layout: default
title: About SoyBase and Soybean Resources
sitemap: homepage
tools_menu: false
---

{% assign groups = site.data.about | group_by: "category" | sort: "category" %}

<h1>About SoyBase and Soybean Resources</h1>

{% for group in groups %}
  <dl class="uk-description-list">
    {% for item in group.items %}
      <dt class="uk-margin-remove">
        <a href="{{ item.url }}" class="uk-text-bold">{{ item.name }}</a>
        <span style="font-weight:normal">({{ item.description }})</span>
      </dt>
    {% endfor %}
  </dl>
{% endfor %}

<a name="contact" id="contact">
<iframe
  src="https://forms.office.com/Pages/ResponsePage.aspx?id=5zZb7e4BvE6GfuA8-g1Glykqlk2qz6REpva4KviuwwxUNjZVSkM2TUI2NjdVSVZVVDRYUEZHSEZDRSQlQCN0PWcu&embed=true"
  class="uk-height-1-1 uk-width-1-1 uk-margin-large-bottom"></iframe>
</a>