---
layout: default
title: About SoyBase and Soybean Resources
sitemap: homepage
tools_menu: false
---

{% assign groups = site.data.about | group_by: "category" | sort: "category" %}

<h2>About SoyBase and Soybean Resources</h2>

{% for group in groups %}
  <dl>
    {% for item in group.items %}
      <dt>
        <a href="{{ item.url }}">{{ item.name }}</a>
        <span style="font-weight:normal">({{ item.description }})</span>
      </dt>
    {% endfor %}
  </dl>
{% endfor %}

<a name="contact" id="contact">
<iframe
  width="640px"
  height="800px"
  src="https://forms.office.com/Pages/ResponsePage.aspx?id=5zZb7e4BvE6GfuA8-g1Glykqlk2qz6REpva4KviuwwxUNjZVSkM2TUI2NjdVSVZVVDRYUEZHSEZDRSQlQCN0PWcu&embed=true"
  frameborder="0"
  marginwidth="0"
  marginheight="0"
  style="border: none; max-width:100%; max-height:100vh"
  allowfullscreen
  webkitallowfullscreen
  mozallowfullscreen
  msallowfullscreen></iframe></a>