---
title: Genome browsers
sitemap: sequence map
tools_menu: true

gbrowse_instances:
- category: "Glycine max"
  name: "Wm82.a2"
  url_suffix: "gmax2.0"
- category: "Glycine max"
  name: "Wm82.a6"
  url_suffix: "glyma.Wm82.gnm6"
- category: "Glycine max"
  name: "Wm82.a4"
  url_suffix: "glyma.Wm82.gnm4"
- category: "Glycine max"
  name: "Wm82.a1"
  url_suffix: "gmax1.01"
- category: "Glycine max"
  name: "Fiskeby III"
  url_suffix: "glyma.FiskebyIII.gnm1"
- category: "Glycine max"
  name: "Lee"
  url_suffix: "glyma.Lee.gnm1"
- category: "Glycine max"
  name: "Zh13"
  url_suffix: "glyma.Zh13.gnm1"
- category: "Glycine soja"
  name: "PI 483463"
  url_suffix: "glyso.PI483463.gnm1"
- category: "Glycine soja"
  name: "W05"
  url_suffix: "glyso.W05.gnm1"

---

{% capture jbrowse_base_url %}/assets/js/jbrowse{% endcapture %}
<h2>Genome browsers</h2>

<p>
  Genome browsers can be accessed from the
  <a href="/resources">GENOMICS</a>
  tab, with browsers listed under each accession -- or directly from the links below; legacy GBrowse first, then JBrowse.
</p>

<b><u>G</u>Browse instances</b> (legacy; see newer JBrowse instances below). The largest track collection is in Wm82.a2.
<br>
(Click <b>**</b> for unframed links: useful for bookmarking and sharing track configurations and views)
<br>
{% assign groups = page.gbrowse_instances | group_by: "category" | sort: "name" %}
{% assign asterisk = "**" %}
{% for species in groups %}
  <u><i>{{ species.name }}</i></u>
  <br>
  {%- capture browser_list -%}
    {% for item in species.items %}
      <a href="{{ item.url_suffix | prepend: '/tools/browsers/gbrowse.html?iframe_pathname_suffix=' }}">
        <b>{{ item.name | prepend: ", " }} </b>
      </a>
      <a href="{{ item.url_suffix | prepend: 'https://legacy.soybase.org/gb2/gbrowse/' }}" target="_blank">
        <b>{{ asterisk }}</b>
      </a> 
    {% endfor %}
  {%- endcapture -%}
  <div style="margin-left:10px">
    {{ browser_list | remove_first: ', ' }}
  </div>
{% endfor %}


{% assign doi = "DOI" %}
{% assign genus = "Glycine" %}
{% for about_file in site.data.datastore-metadata[genus].GENUS.about_this_collection %}
  {% if about_file[0] contains "description_" %}
    {% assign genus_resources = about_file[1] %}
    {% break %}
  {% endif %}
{% endfor %}
{% for species in genus_resources.species %}
  {% if species == "GENUS" %}
    {% continue %}
  {% endif %}
  <hr>
  
  <h3>
    <u>J</u>Browse instances for <i><b>{{ genus }} {{ species }}</b></i> accessions
  </h3>
  {% for datatype_dir in site.data.datastore-metadata[genus][species] %}
    {% assign datatype = datatype_dir[0] %}
    {% if datatype == "about_this_collection" %}
      {% for about_file in datatype_dir[1] %}
        {% if about_file[0] contains "description_" %}
          {% assign about = about_file[1] %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
  {% for datatype_dir in site.data.datastore-metadata[genus][species] %}
    {% assign datatype = datatype_dir[0] %}
    {% if datatype == "annotations" %}
      {% assign existing_headers = '' | split: ',' %}
      {% for strain in about.strains %}
        
        {% unless existing_headers contains strain.accession_group %}
          <h4 class="uk-margin-small-bottom">
            <b>{{ strain.accession_group }}</b>
          </h4>
          {% if strain.accession_group contains "et al" %} 
            {% assign accession_group_type = "citation" %}

            {% comment %} 
              The following code at this level is just to assign a doi string for a citation-type accession_group_type 
            {% endcomment %}
            {% for collection_dir in datatype_dir[1] %}
              {% assign collection_name = collection_dir[0] | split: 'gnm' %}
              {% if collection_name[0] == strain.identifier %}
                {% assign collection = collection_dir[0] %}
                {% for metadata_file in collection_dir[1] %}
                  {% if metadata_file[0] contains "README" %}
                    {% assign readme = metadata_file[1] %}
                    {% assign assembly = readme.identifier | split: '.' | slice: 0, 2 | join: '.' %}
                    {% assign annotation = readme.identifier | split: '.' | slice: 0, 3 | join: '.' %}
                    {% for datatype_dir in site.data.datastore-metadata[genus][species] %}
                      {% assign datatype = datatype_dir[0] %}
                      {% if datatype == "genomes" %}
                        {% for collection_dir in datatype_dir[1] %}
                          {% assign collection = collection_dir[0] %}
                          {% for metadata_file in collection_dir[1] %}
                            {% if metadata_file[0] contains "README" %}
                              {% assign readme_genome = metadata_file[1] %}
                              {% assign assembly_genome = readme_genome.identifier | split: '.' | slice: 0, 2 | join: '.' %}
                              {% if assembly_genome == assembly %}
                                {% assign chromosome_prefix = readme_genome.chromosome_prefix %}
                                {% assign synopsis = readme_genome.synopsis %}
                                {% if readme_genome contains "publication_doi" %}
                                  {% assign doi = readme_genome.publication_doi %}
                                {% else %}
                                  {% assign doi = "DOI" %}
                                {% endif %}
                                {% break %}
                              {% endif %}
                            {% endif %}
                          {% endfor %}
                        {% endfor %}
                      {% endif %}
                    {% endfor %}
                    
                    <dd>
                      Citation (DOI) for this accession group: 
                      {% assign doiCheck = doi | slice: 0, 2 %}
                      <i>
                        {% if doiCheck == "10" %}
                          <a href="https://doi.org/{{ doi }}">doi.org/{{ doi }}</a>
                        {% else %}
                          {{ doi }}
                        {% endif %}
                      </i>
                    </dd>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
            {% comment %} End code for assigning a doi string {% endcomment %}

          {% else %}
            {% assign accession_group_type = "reference" %}
          {% endif %}
          {% assign existing_headers = existing_headers | push: strain.accession_group %}
        {% endunless %}
        
        {% for collection_dir in datatype_dir[1] reversed %}
          {% assign collection_name = collection_dir[0] | split: 'gnm' %}
          {% if collection_name[0] == strain.identifier %}
            {% assign collection = collection_dir[0] %}
            {% for metadata_file in collection_dir[1] %}
              {% if metadata_file[0] contains "README" %}
                {% assign readme = metadata_file[1] %}
                {% assign assembly = readme.identifier | split: '.' | slice: 0, 2 | join: '.' %}
                {% assign annotation = readme.identifier | split: '.' | slice: 0, 3 | join: '.' %}
                {% for datatype_dir in site.data.datastore-metadata[genus][species] %}
                  {% assign datatype = datatype_dir[0] %}
                  {% if datatype == "genomes" %}
                    {% for collection_dir in datatype_dir[1] %}
                      {% assign collection = collection_dir[0] %}
                      {% for metadata_file in collection_dir[1] %}
                        {% if metadata_file[0] contains "README" %}
                          {% assign readme_genome = metadata_file[1] %}
                          {% assign assembly_genome = readme_genome.identifier | split: '.' | slice: 0, 2 | join: '.' %}
                          {% if assembly_genome == assembly %}
                            {% assign chromosome_prefix = readme_genome.chromosome_prefix %}
                            {% assign synopsis = readme_genome.synopsis %}
                            {% if readme_genome contains "publication_doi" %}
                              {% assign doi = readme_genome.publication_doi %}
                            {% else %}
                              {% assign doi = "" %}
                            {% endif %}
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    {% endfor %}
                  {% endif %}
                {% endfor %}
                <dt>
                  <a target="_blank" href="{{ jbrowse_base_url }}/?assembly={{ assembly }}&tracks={{ annotation }}&loc={{ readme.scientific_name_abbrev }}.{{ assembly }}.{{ chromosome_prefix }}01:1-1000000&tracklist=true">{{ assembly }}</a>
                </dt>
                {% comment %} 
                  Print DOI only when accession_group is of type reference, not for type citation (handled previously) 
                {% endcomment %} 
                {% if accession_group_type == "reference" %}
                  <dd>{{ synopsis }}
                    {% assign doiCheck = doi | slice: 0, 2 %}
                    <i>
                      {% if doiCheck == "10" %}
                        <a href="https://doi.org/{{ doi }}">doi.org/{{ doi }}</a>
                      {% else %}
                        {{ doi }}
                      {% endif %}
                    </i>
                  </dd>
                {% else %}
                  <dd>{{ synopsis }}</dd>
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endfor %}
