---
layout: default
title: Genetic Resources
sitemap: maps
tools_menu: true
---
{% assign chr = 0 %}

{% assign map_resource = site.data.map_resources %}
{% assign map_cmap = site.data.map_cmap %}

<h2>Genetic Map Resources for Soybean</h2>

<dl>
  <dt>SoyBase comparative maps, with QTLs and GWAS</dt>
</dl>

<p>
  Maps below show QTLs and GWAS features. Click a chromosome number to go to the corresponding linkage group views. 
  See correspondences on rollover: chromosome Gm<strong>01</strong>
  ==> linkage group
  <strong>D1a</strong>; 
  chromosome Gm<strong>20</strong>
  ==> linkage group
  <strong>I</strong>, etc. <br>
  For more convenient browsing, the QTLs have been divided into the categories listed below.
</p>

{% for cmap-set in map_cmap.cmap-sets %}
  <ul uk-accordion>
    <li>
      <a class="uk-accordion-title" href="#">{{ cmap-set.description }}</a>
      <div class="uk-accordion-content">
        <table class="uk-table">
          <tbody>
            <tr>
              {% assign chr = 0 %}
              {% for LG in cmap-set.linkage_groups %}
                {% assign chr = chr | plus: 1 %}
                <td>
                  <div
                    data-uk-tooltip="{pos:'bottom-left'}"
                    ;
                    uk-tooltip="title: {{ LG }}">
                    {% capture map_path %}
                      {{ cmap-set.URL }}?config=map-{{ chr | prepend: '00' | slice: -2, 2 }}.json
                    {% endcapture %}
                    <a href="{{ map_path | relative_url }}">{{ chr | prepend: '00' | slice: -2, 2 }}</a>
                  </div>
                </td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
{% endfor %}

{% for resource in map_resource.resources %}
  <dl>
    <dt>
      <a href="{{ resource.URL }}">{{ resource.name }}</a>
    </dt>
    {{ resource.description }}
  </dl>
{% endfor %}