---
layout: default
title: Genetic Resources
sitemap: maps
tools_menu: true
redirect_from: /sbt/
---
{% assign chr = 0 %}

{% assign map_resource = site.data.map_resources %}
{% assign map_cmap = site.data.map_cmap %}

<h1>Genetic Map Resources for Soybean</h1>

<p>
  Maps below show QTLs and GWAS features. Click a chromosome number to go to the corresponding linkage group views. 
  See correspondences on rollover: chromosome Gm<strong>01</strong> ==> linkage group <strong>D1a</strong>; 
  chromosome Gm<strong>20</strong> ==> linkage group <strong>I</strong>, etc. <br>
  For more convenient browsing, the QTLs have been divided into the categories listed below. <br>
  <a href="/about/about_maps/" target="_blank">Details about the SoyBase genetic maps.</a>
</p>

<h3><b>Soybase QTL and GWAS maps, in classic CMap viewer</b></h3>

{% for cmap-set in map_cmap.cmap-sets %}
  {% if cmap-set.URL contains "cmap-classic" %}
    <div class="uk-overflow-auto">
      <table class="uk-table">
        <tbody>
          <tr>
            {% assign chr = 0 %}
            {% for LG in cmap-set.linkage_groups %}
              {% assign chr = chr | plus: 1 %}
              {% capture chr_num %}{{ chr | prepend: '00' | slice: -2,2 }}{% endcapture %}
              {% capture iframe_path %}/maps/cmap-classic/{{chr_num}}/index.html{% endcapture %}
              <td>
                <div  data-uk-tooltip="{pos:'bottom-left'}"; uk-tooltip="title: {{ LG }}">
                  <a href="{{ iframe_path }}">{{ chr_num }}</a>
                </div>
              </td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
  {% endif %}
{% endfor %}


<h3><b>SoyBase QTL and GWAS maps, in new CMap-js viewer</b></h3>

{% comment %}
  Use idx as the index of cmap-set groups. Set the first accordion item to "open".
{% endcomment %}
{% assign idx = 0 %}

{% assign idx = 0 %}
{% for cmap-set in map_cmap.cmap-sets %}
  {% unless cmap-set.URL contains "cmap-classic" %}
    {% comment %} This block is for cmap-js {% endcomment %}
    {% comment %}
      Use idx as the index of cmap-set groups. Set the first accordion item to "open".
    {% endcomment %}

    <ul class="uk-margin-small-left uk-margin-small-right" uk-accordion>
      {% if idx == 0 %}
        <li>
          {% else %}
          <li>
      {% endif %}
      {% assign idx = idx | plus: 1 %}
        <a class="uk-accordion-title" href="#">{{ cmap-set.description }}</a>
        <div class="uk-accordion-content uk-overflow-auto">
          <table class="uk-table">
            <tbody>
              <tr>
                {% assign chr = 0 %}
                {% for LG in cmap-set.linkage_groups %}
                  {% assign chr = chr | plus: 1 %}
                  <td>
                    <div  data-uk-tooltip="{pos:'bottom-left'}"; uk-tooltip="title: {{ LG }}">
                      {% capture map_path %}{{ cmap-set.URL }}?config=map-{{ chr | prepend: '00' | slice: -2,2 }}.json {% endcapture %}
                      <a href="{{ map_path | relative_url }}">{{ chr | prepend: '00' | slice: -2,2 }}</a>
                    </div>
                  </td>
                {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
      </li>
    </ul>
    <hr>
  {% endunless %}
{% endfor %}

{% for resource in map_resource.resources %}
  <dl>
    <dt><a href="{{ resource.URL }}">{{ resource.name }}</a></dt>
    <dd>{{ resource.description }}</dd>
  </dl>
{% endfor %}
