---
title: Tools
tools_menu: false
---
{% assign groups = site.data.tools | group_by: "category" | sort: "name" %}

<h1>Informatic Tools</h1>

<div class="uk-flex uk-flex-center uk-flex-right@s">
  <button class="uk-button uk-margin-small-right uk-button-primary" onclick="expandAllAccordion()">expand all</button>
  <button class="uk-button uk-button-primary"  onclick="collapseAllAccordion()">collapse all</button>
</div>
<hr>
{% for group in groups %}
<ul uk-accordion>
  <li class="ukaccordion uk-open">
  <a class="uk-accordion-title uk-text-lead" id="{{ group.name | replace: " / ", "_"  | replace: " ", "_" | downcase }}">{{ group.name }}</a>
  <div class="uk-accordion-content">
    {% for item in group.items %}
    <a class="uk-text-bold" href="{{ item.url }}" target="{{item.target}}">{{ item.name }}</a>
    <ul class="uk-list uk-list-hyphen uk-margin-remove-top">
      <li><p class="uk-margin-remove-vertical">{{ item.description }}</p></li>
    </ul>
    {% endfor %}
  </div>
  </li>
  <hr>
</ul>
  {% endfor %}

<script src="../assets/js/utils.js"></script>