---
layout: base
---

{% if page contains "tools_menu" or page contains "taxa_menu" or page contains "collections_menu" %}
  {% include left-menu.html %}
{% endif %}
<!-- NOTE: putting content between the left menu and tm-main blocks will break CSS selectors -->
<div class="tm-main uk-section uk-section-default uk-flex">
  <div class="uk-container uk-width-1-1">
    {{ content }}
  </div>

  {% if page contains "news_card" or page contains "events_card" or page contains "twitter_card" %}
    {% include card-column.html page=page %}
  {% endif %}

</div>

</body>
</html>
