---
layout: default
genomics_menu: true
---
{% assign genus = page.title %}
{% assign genus_resources = site.data.taxa[genus].genus_resources %}
{% assign species_resources = site.data.taxa[genus].species_resources %}

{% if genus_resources.taxid == nil %}
  <p class="temp"><i>{{ page.title }}</i> has no resource data in the Datastore.</p>
{% else %}
  {% if genus_resources.commonName==nil %}
    <h1><i>{{ genus_resources.genus }}</i></h2>
  {% else %}
    <h1><i>{{ genus_resources.genus }}</i> ({{ genus_resources.commonName }})</h2>
  {% endif %}
  
  <p>{{ genus_resources.description }}</p>
  <p>NCBI taxonomy ID: <b>{{ genus_resources.taxid }}</b></p>
  
  {% if genus_resources.resources.size > 0 %}
    <h2>Tools and resources for the genus as a whole</h2>
    <dl>
      {% for resource in genus_resources.resources %}
      <dt><a href="{{ resource.URL }}">{{ resource.name }}</a></dt>
      <dd>{{ resource.description }}</dd>
      {% endfor %}
    </dl>
  {% endif %}
  
  <h2>Tools and resources for particular species</h2>
  
  {% for item in species_resources.species %}
    <hr/>
    {% if item["commonName"]==nil %}
      <h3 id="{{ item["species"] }}"><i>{{ item["genus"] }} {{ item["species"] }}</i></h3>
    {% else %}
      <h3 id="{{ item["species"] }}"><i>{{ item["genus"] }} {{ item["species"] }}</i>: {{ item["commonName"] }}</h3>
    {% endif %}
    
    {% capture species_photo_path %}assets/img/species_images/{{ item["abbrev"] }}.jpg{% endcapture %}
    {% assign species_photo = site.static_files | where: "path", species_photo_path | first %}
    {% if species_photo %}
      <div class="species-image">
      <img src="/assets/img/species_images/{{ item["abbrev"] }}.jpg" alt="Image: {{ item["commonName"] }}"/>
      {% for attribItem in site.data.species_image_attribution %}
      {%   if attribItem.gensp contains item["abbrev"] %}
      <div class="attribution">
        {%   if attribItem.source == nil %}
        &copy; {{ attribItem.attribution }}
        {%   else %}
        &copy; <a href="{{ attribItem.source }}">{{ attribItem.attribution }}</a>
        {%   endif %}
      </div>
      {%   endif %}
      {% endfor %}
      </div>
    {% endif %}
    
    <p>{{ item["description"] }}</p>
    <p>NCBI taxonomy ID: <b>{{ item["taxid"] }}</b></p>
    
    {% if item["resources"].size > 0 %}
      <h4><i>{{ item["genus"] }} {{ item["species"] }}</i> resources</h4>
      <dl>
        {% for resource in item["resources"] %}
        <dt><a href="{{ resource.URL }}">{{ resource.name }}</a></dt>
        <dd>{{ resource.description }}</dd>
        {% endfor %}
      </dl>
    {% else %}
      <!-- Do nothing. The fallback is per-accession  esources below. -->
    {% endif %}
    
    <h4><i>{{ item["genus"] }} {{ item["species"] }}</i> accessions</h4>
    {% for strain in item["strains"] %}
      <b>{{ strain.identifier }}</b> ({{ strain.origin }}) <br/>
      {{ strain.description }}
      {% if strain.resources.size > 0 %}
        <ul>
          {% for resource in strain.resources %}
          <li><a href="{{ resource.URL }}">{{ resource.name }}</a> : {{ resource.description }}</li>
          {% endfor %}
        </ul>
      {% else %}
        <br/><i>No resources are currently listed for accession <b>{{ strain.identifier }}</b></i>.<br>
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}
