---
layout: default
---

<h2>{{ page.projects.short_title }}</h2>
<dl>
<dt>
  <dd><h3>Description:</h3></dd> 
  <dd>{{ page.projects.description }}</dd>
  {% if page.projects.BioProjectID %} <dd>BioProject: {{ page.projects.BioProjectID }}</dd> {% endif %}
  {% if page.projects.SoyBaseID %} <dd>SoyBaseID: {{ page.projects.SoyBaseID }}</dd> {% endif %}
  <br>
  
  <dd><h3>Publications:</h3></dd>
  {% for publication in page.projects.publications %}
    <dd><strong>Citation:</strong> {{ publication.citation }}</dd>
    {% if publication.doi %} 
      <dd><strong>Publication link:</strong>
        <a href="https://doi.org/{{ publication.doi }}" target="_blank"> {{ publication.doi }} </a>
      </dd>
    {% endif %}
    {% if publication.abstract %}
    {% assign pubRemovePeriod = publication.doi | remove: "." %} 
    {% assign pubRemoveSlash = pubRemovePeriod | remove: "/" %} 
    <button class="uk-button uk-button-primary uk-button-small" type="button" uk-toggle="target: #a{{pubRemoveSlash}}; animation: uk-animation-fade; cls: uk-hidden" onclick="rotateTriangle(this)" value="triangle-icon-{{pubRemoveSlash}}"><div class="uk-flex">abstract<span id="triangle-icon-{{pubRemoveSlash}}" uk-icon="icon:triangle-right" class="toggle-top-margin"></span></div></button>
    <div id="a{{pubRemoveSlash}}" class="uk-margin-small uk-hidden">
        <dd> {{ publication.abstract }}</dd> 
        <dd> {{ pubRemove }}</dd> 
      </div>
    {% endif %}
  {% endfor %}
  <br>

  <dd><h3>Data Links:</h3></dd>
  {% for data_link in page.projects.data_links %}
    {% for category in data_link.category %}
      {% for name in category.name %}
        <dd> 
          <strong>{{ name }}</strong>
          <ul>
            {% for instance in category.instances %}
              <li><a href="{{ instance.url }}">{{ instance.description }}</a></li>
            {% endfor %}
          </ul>
        </dd>
      {% endfor %}
    {% endfor %}
  {% endfor %}
</dt>
</dl>

<h4><dl><dd><a href="/projects/">Back to Projects index page</a></dd></dl></h4>


<script >

  function rotateTriangle(e){
    let id = e.value
    const icon = document.getElementById(id);
    if (icon.style.transform === 'rotate(90deg)') {
      icon.style.transform = 'rotate(0deg)'
    } else {
      icon.style.transform = 'rotate(90deg)'
    }
  }

</script>