---
layout: default
title: Cajanus
---

<h2><i>Cajanus</i></h2>

<h3>Tools and resources for the genus as a whole</h3>
{% if site.data.taxa.Cajanus.genus_resources %}
{% assign genus_resources = site.data.taxa.Cajanus.genus_resources %}
<dt>
  {% for item in genus_resources %}
    {% for feature in item.taxon_features %}
      <dd><h4><i>{{ feature.name }}</i> ({{ feature.display_name }})</h4></dd>
    {% endfor %}
    {% for resource in item.resources %}
      <dd><a href="{{ resource.URL }}">{{ resource.name }}</a> ({{ resource.description }})</dd>
    {% endfor %}
  {% endfor %}
</dt>
{% endif %}

<h3>Tools and resources for particular species</h3>
{% if site.data.taxa.Cajanus.species_resources %}
{% assign species_resources = site.data.taxa.Phaseolus.species_resources %}
<dt>
  {% for item in species_resources %}
    {% for taxon in item.taxa %}
      <dd><strong>{{ taxon.name }}</strong> ({{ taxon.display_name }})</dd>
      {% for resource in taxon.resources %}
        <dd><u>{{ resource.name }}</u></dd>
        {% for accession in resource.accessions %}
          <dd>{{ accession.name }} ({{ accession.description }})</dd>
          {% for version in accession.versions %}
            <dd>&nbsp; &nbsp; 
              Assembly {{ version.name }}: 
            </dd>
            <dd>&nbsp; &nbsp; 
              {% for instance in version.instances %}
                <a href="{{ instance.URL }}">{{ instance.name }}</a>; 
              {% endfor %}
            </dd>
          {% endfor %}
        {% endfor %}
      {% endfor %}
      <br>
    {% endfor %}
  {% endfor %}
</dt>
{% endif %}

